//color themes
@import './vendor/bootstrap.scss';

// colors
$color__bg: #fafbff;
$color__bg--dark: #171f33;
$color__text-title: #5ebc7b;
$color__text-title--dark: #fff;
$color__navbar-btn-bg: #eff4f7;
$color__navbar-btn-bg--dark: #141820;
$color__navbar-btn-icons: #36446a;
$color__navbar-btn-icons--dark: #455686;
$color__text-primary: #36446a;
$color__text-primary--dark: #fff;
$color__status-border: #1977f3;
$color__status-border--dark: #8000ff;
$color__scrollbar-thumb: #36446a;
$color__scrollbar-thumb--dark: #e1e1e1;
$color__main-view: #fff;
$color__main-view--dark: #202247;
$color__main-view-primary-text: #000;
$color__main-view-primary-text--dark: #fff;
$color__main-view-secondary-text: rgba(54, 70, 114, 0.4);
$color__main-view-secondary-text--dark: #fff6;
$color__conversations-hover: #f3f4f9;
$color__conversations-hover--dark: #32264a;
$color__conversations-hover-before: #64bc5e;
$color__conversations-hover-before--dark: #a364d2;

.theme {
  --color__bg: #{$color__bg};
  --color__text-title: #{$color__text-title};
  --color__text-primary: #{$color__text-primary};
  --color__status-border: #{$color__status-border};
  --color__scrollbar-thumb: #{$color__scrollbar-thumb};
  --color__main-view: #{$color__main-view};
  --color__conversations-hover: #{$color__conversations-hover};
  --color__conversations-hover-before: #{$color__conversations-hover-before};
  --color__main-view-primary-text: #{$color__main-view-primary-text};
  --color__main-view-secondary-text: #{$color__main-view-secondary-text};
  --color__navbar-btn-bg: #{$color__navbar-btn-bg};
  --color__navbar-btn-icons: #{$color__navbar-btn-icons};
  &--dark {
    --color__bg: #{$color__bg--dark};
    --color__text-title: #{$color__text-title--dark};
    --color__text-primary: #{$color__text-primary--dark};
    --color__status-border: #{$color__status-border--dark};
    --color__scrollbar-thumb: #{$color__scrollbar-thumb--dark};
    --color__main-view: #{$color__main-view--dark};
    --color__conversations-hover: #{$color__conversations-hover--dark};
    --color__conversations-hover-before: #{$color__conversations-hover-before--dark};
    --color__main-view-primary-text: #{$color__main-view-primary-text--dark};
    --color__main-view-secondary-text: #{$color__main-view-secondary-text--dark};
    --color__navbar-btn-bg: #{$color__navbar-btn-bg--dark};
    --color__navbar-btn-icons: #{$color__navbar-btn-icons--dark};
  }
}

// spacers & sizings
$footer-nav-height: 15%;
$footer-nav-height--md: 15%;
:root {
  --footer-nav-height: #{$footer-nav-height};
}
@include media-breakpoint-up(md) {
  :root {
    --footer-nav-height: #{$footer-nav-height--md};
  }
}

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: var(--color__scrollbar-thumb);
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color__scrollbar-thumb);
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

// common clases namespaced with 'chatApp'
.chatApp-view-title {
  font-weight: bold;
  font-size: 25px;
  color: var(--color__main-view-primary-text);
}
.chatApp-view-subtitle {
  font-weight: 400;
  font-size: 14px;
  color: var(--color__main-view-secondary-text);
}

/* a-bem classes
 
*   L- = layout
*   C- = component
*/

.L-chat-view {
  background-color: var(--color__main-view);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding-bottom: calc(var(--footer-nav-height) - 6rem);
  height: 100%;
  &__header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    @include media-breakpoint-up(sm) {
      padding-top: 2rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
    @include media-breakpoint-up(md) {
      padding-top: 2rem;
    }
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    &-btn {
      align-self: flex-start;
      svg {
        color: var(--color__main-view-primary-text);
      }
    }
  }
}
.L-view-header {
  margin-top: 1rem;
}
