// colors
$color__bg: #fafbff;
$color__bg--dark: #171f33;
$color__text-title: #5ebc7b;
$color__text-title--dark: #fff;
$color__navbar-btn-bg: #eff4f7;
$color__navbar-btn-bg--dark: #141820;
$color__navbar-btn-icons: #36446a;
$color__navbar-btn-icons--dark: #455686;
$color__nav-bottom-btn-hovered: #36446a;
$color__nav-bottom-btn-hovered--dark: #fff;
$color__text-primary: #36446a;
$color__text-primary--dark: #fff;
$color__status-border: #1977f3;
$color__status-border--dark: #8000ff;
$color__scrollbar-thumb: #36446a;
$color__scrollbar-thumb--dark: #e1e1e1;
$color__scrollbar-track: #eee;
$color__scrollbar-track--dark: #364672;
$color__main-view: #fff;
$color__main-view--dark: #202247;
$color__main-view-primary-text: #000;
$color__main-view-primary-text--dark: #fff;
$color__main-view-secondary-text: rgba(54, 70, 114, 0.4);
$color__main-view-secondary-text--dark: #fff6;
$color__conversations-hover: #f3f4f9;
$color__conversations-hover--dark: #32264a;
$color__conversations-hover-before: #64bc5e;
$color__conversations-hover-before--dark: #a364d2;
$color__group-card-border: #f4f4ff;
$color__group-card-border--dark: #42235a;
$color__group-card-separator: #e5e5eb;
$color__group-card-separator--dark: #522c6f;
$color__conversation-header-btn-bg: #20232f;
$color__conversation-header-btn-bg--dark: #20232f;

// spacers & sizings
$footer-nav-height: 15%;
$footer-nav-height--md: 15%;
$base-modal-min-width: 300px;
$base-modal-min-width--md: 500px;
$base-modal-min-width--lg: 600px;
$base-modal-max-width: 80%;
$base-modal-height: 400px;
$conversation-input-width: 95%;
$conversation-input-width--md: 80%;
$conversation-text: 14px;
$conversation-text--md: 14px;
$conversation-text-date: 11px;
$conversation-text-date--md: 12px;
